
@{
    ViewBag.Title = "AddCourse";
}
<h3>
    <a href="/Registration/AddStudent" class="btn btn-info">Add Student</a> <a href="/Registration/ShowStudent" class="btn btn-info">Show Student</a>
    <a href="/Registration/AddCourse" class="btn btn-info">Add Course</a> <a href="/Registration/ShowCourse" class="btn btn-info">Show Course</a>

</h3>
<h2>Add Course</h2>


<form action="" method="post">
    <input type="text" class="form-control" name="Name" placeholder="Name" />
    <input type="text" class="form-control" name="PreReq" placeholder="Pre request" />
    <input type="submit" value="ADD COURSE" class="form-control" />
</form>

